In [2]:
from create_cache import create_vector_db
from create_fshot_examples import main

## Create vector DB for cache(To be resued for ingesting fewshot examples)

In [2]:
create_vector_db()

Connecting to the PostgreSQL database...
Connection established successfully!
Vector extension added successfully.
Table Name: {vector_table_name}
Table 'vector_table' created successfully with vector index.

## Ingest fewshot examples

In [3]:
main()

LLM response:
  {'id': 'msg_bdrk_01DbTbuLhSD85o3dHKKux6Vr', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What is the major of Angela Sanders?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the major_name column from the major table (T2) for the member with the first name 'Angela' and last name 'Sanders'.\n2. To get the major information for the specific member, it is joining the member table (T1) with the major table (T2) on the link_to_major column in the member table.\n3. The WHERE clause is filtering the results to only include the member with the first name 'Angela' and last name 'Sanders'.\n4. The final result will be the major name for the member Angela Sanders.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 523, 'output_tokens': 167}}
LLM response:
  {'id': 'msg_bdrk_016ZTRY1Vtoy2yWBphtxr6fr', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>How many club members are enrolled in the College of Engineering?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the COUNT of the member_id column from the member table (T1).\n2. It is joining the member table (T1) with the major table (T2) on the link_to_major column in the member table.\n3. It is then filtering the results to only include rows where the college column in the major table (T2) is equal to 'College of Engineering'.\n4. The final result will be the count of the number of club members who are enrolled in the College of Engineering.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 514, 'output_tokens': 158}}
LLM response:
  {'id': 'msg_bdrk_019TGUBmjFT9jqyUK64RfsGW', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>\nList the full names of all the members who are enrolled in the majors that belong to the "Art and Design Department".\n</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the first_name and last_name columns from the member table (T1).\n2. It is joining the member table (T1) with the major table (T2) on the link_to_major column in the member table.\n3. It is then filtering the results to only include rows where the department column in the major table (T2) is equal to "Art and Design Department".\n4. This will return the first and last names of all the members who are enrolled in majors that belong to the "Art and Design Department".\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 519, 'output_tokens': 180}}
LLM response:
  {'id': 'msg_bdrk_01ABuRpEqHxj11hyvzmi9Z3o', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>How many members attended the "Women\'s Soccer" event?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It selects the COUNT of the event_id column from the event table (T1).\n2. It performs an INNER JOIN between the event table (T1) and the attendance table (T2) on the link_to_event column.\n3. It filters the results to only include events where the event_name is \'Women\'s Soccer\'.\n\nThe COUNT function is used to count the number of rows returned, which represents the number of members who attended the "Women\'s Soccer" event.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 517, 'output_tokens': 152}}
LLM response:
  {'id': 'msg_bdrk_01SdTAo1XmzWRhWEd6QFNh7t', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>What are the phone numbers of the members who attended the "Women\'s Soccer" event?</question_gen>\n\n<explanation>\nThe SQL query is executed in the following steps:\n\n1. The query starts by selecting the `phone` column from the `member` table (`T3`).\n2. It then performs an inner join between the `event` table (`T1`), the `attendance` table (`T2`), and the `member` table (`T3`).\n   - The join condition between `event` and `attendance` tables is `T1.event_id = T2.link_to_event`.\n   - The join condition between `attendance` and `member` tables is `T2.link_to_member = T3.member_id`.\n3. The query then filters the results to only include rows where the `event_name` in the `event` table is \'Women\'s Soccer\'.\n4. The final result will be a list of phone numbers for the members who attended the "Women\'s Soccer" event.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 536, 'output_tokens': 240}}
LLM response:
  {'id': 'msg_bdrk_01VcBoQKrux6QJ9yRoKoJNNC', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>How many members who wear a medium-sized t-shirt attended the "Women\'s Soccer" event?</question_gen>\n\n<explanation>\nThe SQL query is executed as follows:\n\n1. The query starts by selecting the COUNT of the event_id column from the event table (T1).\n2. It then performs an INNER JOIN between the event table (T1) and the attendance table (T2) on the event_id column.\n3. Next, it performs another INNER JOIN between the attendance table (T2) and the member table (T3) on the link_to_member column.\n4. The WHERE clause filters the results to only include events where the event_name is \'Women\'s Soccer\' and the t_shirt_size of the member is \'Medium\'.\n5. The final result is the count of the number of members who wear a medium-sized t-shirt and attended the "Women\'s Soccer" event.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 555, 'output_tokens': 217}}
LLM response:
  {'id': 'msg_bdrk_01RJxqhYqVsfDBXQiFC9odBA', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>What is the name of the event that has the highest attendance among all the events?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the event_name column from the event table (T1).\n2. It is joining the event table (T1) with the attendance table (T2) on the link_to_event column.\n3. It is grouping the results by the event_name column.\n4. It is ordering the results in descending order by the count of the link_to_event column.\n5. It is limiting the results to the first row, which will be the event with the highest attendance.\n\nThe query is essentially finding the event name that has the highest number of attendees by counting the number of rows in the attendance table for each event and returning the event name with the highest count.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 525, 'output_tokens': 200}}
LLM response:
  {'id': 'msg_bdrk_01SNp4pRvvaB2VaA55tsXSg7', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What college do the vice presidents of the Student_Club belong to?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the college information (T2.college) from the major table (T2).\n2. It is joining the member table (T1) with the major table (T2) on the link_to_major column.\n3. It is filtering the results to only include members who have the position 'vice president' in the member table (T1).\n\nThis query will return the college information for all the vice presidents of the Student_Club.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 509, 'output_tokens': 146}}
LLM response:
  {'id': 'msg_bdrk_01R86ecYC6yhWAeWuNpqWN74', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What events has Maya Mclean attended?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the event_name column from the event table (T1).\n2. It is joining the event table (T1) with the attendance table (T2) on the event_id and link_to_event columns.\n3. It is then joining the attendance table (T2) with the member table (T3) on the link_to_member column.\n4. Finally, it is filtering the results to only include rows where the first_name is 'Maya' and the last_name is 'Mclean' in the member table (T3).\n\nThe end result is a list of all the event names that the member with the first name 'Maya' and last name 'Mclean' has attended.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 550, 'output_tokens': 206}}
LLM response:
  {'id': 'msg_bdrk_012VCKaoF3doxEBAf5FFdjer', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>\nHow many events did Sacha Harrison attend in the year 2019?\n</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the count of event_id from the event table (T1).\n2. It is joining the event table (T1) with the attendance table (T2) on the event_id column.\n3. It is then joining the attendance table (T2) with the member table (T3) on the link_to_member column.\n4. It is filtering the results to only include events where the first name of the member is 'Sacha' and the last name is 'Harrison'.\n5. It is further filtering the results to only include events where the event date is in the year 2019 (using the SUBSTR function to extract the first 4 characters of the event_date column).\n6. Finally, it is counting the number of event_id records that match the above criteria.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 574, 'output_tokens': 230}}
LLM response:
  {'id': 'msg_bdrk_011sDP5qSJPqmE8K6UscLgB3', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>\nList the names of all the events that have more than 10 attendees, excluding any events that are classified as "Meeting" type.\n</question_gen>\n\n<explanation>\nThe SQL query is executed as follows:\n\n1. The query starts by selecting the event_name column from the event table (T1).\n2. It then performs an INNER JOIN with the attendance table (T2) on the event_id column, linking the event and attendance data.\n3. The query groups the results by the event_id column and uses the HAVING clause to filter for only those events that have more than 10 attendees (COUNT(T2.link_to_event) > 10).\n4. Finally, the EXCEPT clause is used to exclude any event names that are found in the event table (T1) where the type column is equal to \'Meeting\'.\n\nThe result of this query will be a list of event names that have more than 10 attendees, excluding any events that are classified as "Meeting" type.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 551, 'output_tokens': 238}}
LLM response:
  {'id': 'msg_bdrk_01GhMRmh7aRHHNHcS9w7C1N2', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>\nWhat are the names of the events that have more than 20 attendees, excluding any fundraiser events?\n</question_gen>\n\n<explanation>\nThe SQL query is executed as follows:\n\n1. The query starts by selecting the event_name column from the event table (T1).\n2. It then performs an INNER JOIN with the attendance table (T2) on the event_id column to connect the event information with the attendance information.\n3. The query groups the results by the event_id column and uses the HAVING clause to filter for only those events that have more than 20 attendees (COUNT(T2.link_to_event) > 20).\n4. Finally, the query uses the EXCEPT operator to exclude any event names that are associated with an event of type 'Fundraiser' in the event table (T1).\n\nThe result of this query will be a list of event names that have more than 20 attendees, excluding any fundraiser events.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 551, 'output_tokens': 229}}
LLM response:
  {'id': 'msg_bdrk_01WTrUM6jrx17pGhkymBpTiT', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What is the average number of attendees per meeting event held in the year 2020?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It selects the count of the link_to_event column from the attendance table (T2) and casts it as a real number.\n2. It then divides this count by the count of distinct link_to_event values from the attendance table (T2).\n3. This calculation is performed on the events (T1) where the event date is in the year 2020 and the event type is 'Meeting'.\n4. The result of this query is the average number of attendees per meeting event held in the year 2020.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 557, 'output_tokens': 172}}
LLM response:
  {'id': 'msg_bdrk_01WGoBLnorVtQwesUoMafnzE', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>What is the most expensive expense item recorded in the expense table?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It selects the `expense_description` column from the `expense` table.\n2. It orders the results in descending order based on the `cost` column, which represents the expense amount.\n3. It limits the output to only the first row, which will be the expense item with the highest cost.\n\nThis query will return the description of the most expensive expense item recorded in the `expense` table.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 476, 'output_tokens': 134}}
LLM response:
  {'id': 'msg_bdrk_01958nLPrng7MDNvUDzt4Pu3', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>How many club members are majoring in Environmental Engineering?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the COUNT of the member_id column from the member table (T1).\n2. It is joining the member table (T1) with the major table (T2) on the link_to_major column in the member table.\n3. It is filtering the results to only include rows where the major_name in the major table (T2) is 'Environmental Engineering'.\n4. The final result will be the count of the number of club members who are majoring in Environmental Engineering.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 515, 'output_tokens': 153}}
LLM response:
  {'id': 'msg_bdrk_013dm6fF3BWUGLFnry6QNXaf', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>List the full name of all the members of the Student_Club who attended the "Laugh Out Loud" event.</question_gen>\n\n<explanation>\nThe SQL query is executed in the following steps:\n\n1. The query starts by selecting the `first_name` and `last_name` columns from the `member` table, which is aliased as `T1`.\n\n2. It then performs an INNER JOIN between the `member` table (`T1`) and the `attendance` table (`T2`) on the `member_id` column, which links the members to their attendance records.\n\n3. Next, it performs another INNER JOIN between the `attendance` table (`T2`) and the `event` table (`T3`) on the `link_to_event` column, which links the attendance records to the events.\n\n4. Finally, the query filters the results to only include rows where the `event_name` column in the `event` table (`T3`) is equal to \'Laugh Out Loud\'.\n\nThe resulting output will be a list of the full names (first_name and last_name) of all the members who attended the "Laugh Out Loud" event.\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 546, 'output_tokens': 272}}
LLM response:
  {'id': 'msg_bdrk_01RYeNXVAyUwsinuSjnyn4E3', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': '<question_gen>\nWhat are the last names of the members who are majoring in "Law and Constitutional Studies"?\n</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It is selecting the last_name column from the member table (T1).\n2. It is joining the member table (T1) with the major table (T2) on the link_to_major column in the member table.\n3. It is filtering the results to only include rows where the major_name in the major table (T2) is "Law and Constitutional Studies".\n\nThis will return the last names of all the members who are majoring in "Law and Constitutional Studies".\n</explanation>'}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 514, 'output_tokens': 160}}
LLM response:
  {'id': 'msg_bdrk_01SrYoXBxi2oL5oerpCF9V4J', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What county did Sherri Ramsey grow up in?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It selects the 'county' column from the 'zip_code' table (aliased as T2).\n2. It joins the 'member' table (aliased as T1) with the 'zip_code' table (aliased as T2) on the 'zip' column in the 'member' table and the 'zip_code' column in the 'zip_code' table.\n3. It filters the results to only include rows where the 'first_name' column in the 'member' table is 'Sherri' and the 'last_name' column is 'Ramsey'.\n\nThe result of this query will be the county that Sherri Ramsey grew up in, based on the zip code associated with her membership record.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 523, 'output_tokens': 221}}
LLM response:
  {'id': 'msg_bdrk_01NyVzfJF2gJKGsAUPr1kWF4', 'type': 'message', 'role': 'assistant', 'model': 'claude-3-haiku-20240307', 'content': [{'type': 'text', 'text': "<question_gen>What college did Tyler Hewitt attend?</question_gen>\n\n<explanation>\nThe SQL query is performing the following steps:\n\n1. It selects the `college` column from the `major` table (`T2`) by joining the `member` table (`T1`) on the `link_to_major` column.\n2. The `WHERE` clause filters the results to only include members with the first name 'Tyler' and the last name 'Hewitt'.\n3. This query will return the college associated with the major of the member with the name 'Tyler Hewitt'.\n</explanation>"}], 'stop_reason': 'end_turn', 'stop_sequence': None, 'usage': {'input_tokens': 523, 'output_tokens': 142}}
LLM response: